<h3>Add new Books</h3>
<form>
  <div class="form-group">
    <label>Book Name</label>
    {{input value=book_name}}
  </div>
  <div class="form-group">
    <label>Author Name</label>
    {{input value=author_name}}
  </div>
  <div class="form-group">
    <label>Publication Name</label>
    {{input value=pub_name}}
  </div>
  <div class="form-group">
    <label>Bought Date</label>
    {{input value=bought_date}}
  </div>
  <div class="form-group">
    <label>Description</label>
    {{input value=description}}
  </div>
  <div class="form-group">
    <label>Is Favourite?</label>
    {{input type="checkbox" name="is_favourite"}} Yes
  </div>
  <div class="form-group">
    <label>Holders Name</label>
    {{input value=holder_name}}
  </div>
  <button type="submit" {{action "saveRecord"}}>Submit</button>
  <button type="button" {{action "goBack"}}>Cancel</button>
</form>