{{partial "submenu"}}
<div class="common-container">
  <h3 class="common-header"><span>{{title}} <i class="icon-books"></i></span></h3>

  {{#if model}}
  <table class="table table-hover bookslist">
    <thead>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Publication Name</th>
      <th>Description</th>
      <th>Bought date</th>
      <th>Language</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model}}
      <tr {{action "bookDetails" book_id}} class="cursor-pointer">
        <td>{{book_name}}</td>
        <td>{{author_name}}</td>
        <td>{{pub_name}}</td>
        <td>{{description}}</td>
        <td>{{bought_date}}</td>
        <td>{{language}}</td>
        <td>
          {{#if is_favourite}}<i class="icon-heart"></i>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="emptylist">
    <h3><i class="icon-sad"></i> No Books Found</h3>
  </div>
  {{/if}}
</div>