{{partial "submenu"}}
<div class="common-container">
  <h3 class="common-header"><span>Book Details {{inline-svg "book" class="icon"}}</span></h3>

  <h3>{{book_name}}</h3>
  <p><strong>Author Name:</strong> {{author_name}}</p>
  <p><strong>Description:</strong> {{description}}</p>
  <p><strong>Publication Name:</strong> {{pub_name}}</p>
  <p><strong>Holders Name:</strong> {{#if holder_name}}{{holder_name}}{{else}}--{{/if}}</p>
</div>
