<div class="main-page">
  <div class="container">
    <ul class="list-unstyled">
      {{#link-to "bookslist" tagName="li"}}
        All Books
        <p>{{inline-svg "books" class="icon"}}</p>
      {{/link-to}}
      {{#link-to "addbook" tagName="li"}}
        Add Book
        <p>{{inline-svg "pencil" class="icon"}}</p>
      {{/link-to}}
      {{#link-to "authorslist" tagName="li"}}
        Books by Author
        <p>{{inline-svg "users" class="icon"}}</p>
      {{/link-to}}
      {{#link-to "publist" tagName="li"}}
        Books by Publication
        <p>{{inline-svg "office" class="icon"}}</p>
      {{/link-to}}
      {{#link-to "favouritebooks" tagName="li"}}
        Favourite Books
        <p>{{inline-svg "heart" class="icon"}}</p>
      {{/link-to}}
      {{#link-to "outofstock" tagName="li"}}
        Books (Out of Stock)
        <p>{{inline-svg "books" class="icon"}}</p>
      {{/link-to}}
    </ul>
  </div>
</div>
