<div class="col-md-12">
  <div class="back"><a {{action "goBack"}}>{{inline-svg "arrow-left" class="icon"}}</a></div>
  <div class="row sub-menu">
      <div class="item">{{#link-to "index"}}{{inline-svg "home" class="icon"}}{{/link-to}}</div>
      <div class="item">{{#link-to "bookslist"}}{{inline-svg "books" class="icon"}}{{/link-to}}</div>
      <div class="item">{{#link-to "addbook"}}{{inline-svg "pencil" class="icon"}}{{/link-to}}</div>
      <div class="item">{{#link-to "authorslist"}}{{inline-svg "users" class="icon"}}{{/link-to}}</div>
      <div class="item">{{#link-to "publist"}}{{inline-svg "office" class="icon"}}{{/link-to}}</div>
      <div class="item">{{#link-to "favouritebooks"}}{{inline-svg "heart" class="icon"}}{{/link-to}}</div>
  </div>
</div>
